venv/
.env
*.pem
*.key
*.crt
*.json  

logs/
models/
*.log
*.pkl
*.h5
*.onnx
*.pth
*.ckpt

aws_attack_log.txt
aws_exploit.py
iot_exploit.py
backdoor_firmware*

_openwrt-*
backdoor_firmware/
backdoor_firmware_*
openwrt_boot.qcow2
*.qcow2
*.img
*.tar.gz
*.bin
*.iso
*.xz
*.ext

__pycache__/
*.pyc
*.pyo
*.pyd

.vscode/
*.swp
*.swo
*.bak
*.idea/
*.iml

docker-compose.yml
*.dockerfile
